body {
  background-color: #1f3766;
}

#homepage-picture {
  border-radius: 50%;
  margin-left: 150px;
}

#homepage-picture-card {
  background-color: #1f3766;
  border-width: 0px;
}

.card {
  margin-bottom: 100px;
}

#name-card {
  background-color: #1f3766;
  font-family: sans-serif;
  color: white;
  font-size: 5em;
  border-width: 0px;
}

.name-font {
  font-size: 25px;
}

#homepage-bio {
  border-width: 0;
}
#homepage-links {
  border-width: 0px;
  padding-left: 250px;
  padding-right: 250px;
}

.card-group {
  padding: 10px;
}

.about-me-pictures {
  border-radius: 8px;
}

#about-me-pictures-card {
  border-width: 0;

}

#about-me-card {
  border-width: 0;

}

.card.about-me-pictures-card {
  border-width: 0;
}

#pictures-card {
  margin-top: 300px;

}

.container {
  margin-top: 30px;
}



.row h1 {
  color: white;
}


.row p {
  color: white;
}

a:link {
  color: white;
}


a:visited {
  color: white;
}


a:hover {
  color: hotpink;
}


a:active {
  color: white;
}

ol {
  color: white;
}

ul {
  color: white; 
}
