#homepage-picture {
  border-radius: 50%;

  margin-left: 150px;
}

#homepage-picture-card {
  border-width: 0px;
}

.card {
  margin-bottom: 100px;
}

#name-card {
  font-family: sans-serif;
  font-size: 5em;
  border-width: 0px;
}

.name-font {
  font-size: 25px;
}

#homepage-bio {
  border-width: 0;
}
#homepage-links {
  border-width: 0px;
  padding-left: 250px;
  padding-right: 250px;
}

.card-group {
  padding: 10px;
}

.about-me-pictures {
  border-radius: 8px;
}

#about-me-pictures-card {
  border-width: 0;

}

#about-me-card {
  border-width: 0;

}

.card.about-me-pictures-card {
  border-width: 0;
}

#pictures-card {
  margin-top: 300px;

}

.container {
  margin-top: 30px;
}
